<div class="mx-auto text-center relative">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title fs-6">
        {{ currentQuestion?.category | decodePipe }}
      </h5>
      <p class="card-text fs-6">
        {{ currentQuestion?.question | decodePipe }}
      </p>
    </div>
    <div class="p-2">
      <div
        *ngFor="let a of currAnswers(); let i = index"
        class="border border-secondary rounded-pill option pointer my-2"
        [ngClass]="{
          'bg-success text-white':
            isCorrect() && selectedAnswerIndex === i && isCorrect() !== null,
          'bg-danger text-light':
            !isCorrect() && selectedAnswerIndex === i && isCorrect() !== null
        }"
        [ngClass]="
          !isCorrect() && a === correctAnswer ? 'bg-success text-light' : ''
        "
        (click)="clickOnAnswer(a, i)"
      >
        {{ a | decodePipe }}
      </div>
    </div>
  </div>
  @if(isGameOver){
  <app-end-game-modal [score]="count"></app-end-game-modal>
  }
</div>
